<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>DienDan</display-name>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>com.haumin.controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommenController</servlet-name>
    <servlet-class>com.haumin.controller.CommenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommenController</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.haumin.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.haumin.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonalController</servlet-name>
    <servlet-class>com.haumin.controller.PersonalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalController</servlet-name>
    <url-pattern>/personal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAccountController</servlet-name>
    <servlet-class>com.haumin.controller.CreateAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountController</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCmtController</servlet-name>
    <servlet-class>com.haumin.controller.DeleteCmtController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCmtController</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>EditCmtController</servlet-name>
    <servlet-class>com.haumin.controller.EditCmtController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCmtController</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
</web-app>